@import url("../../variables.css");

.menu {
  overflow-y: hidden;
  font-family: "Press Start 2P", cursive;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  margin-bottom: 15px;

  &__button {
    background: transparent;
    border: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    margin-bottom: 60px;
    position: fixed;
    z-index: 999;
    left: 20px;
    width: 80px;

    &-line {
      transition: 0.2s ease;
      background-color: $font_color_white;
      margin: 5px 0;
      width: 40px;
      height: 5px;

      &_open {
        &:nth-child(1) {
          transform: rotate(45deg) translate(50%, 25%);
          transition: ease-out 0.5s;
        }

        &:nth-child(2) {
          transform: translate(-200%);
          transition: ease-out 0.5s;
        }

        &:nth-child(3) {
          transform: rotate(-45deg) translate(50%, -25%);
          transition: ease-out 0.5s;
        }
      }
    }
  }

  &__list {
    position: fixed;
    left: 0;
    top: 0;
    padding: 130px 30px 30px 85px;
    z-index: 998;
    border-bottom-right-radius: 10px;
    background-color: $section_background_color;
    box-shadow: 0 0 30px $section_light_shadow;
    overflow-x: hidden;
    overflow-y: overlay;
    height: 80vh;
    transition: 0.5s ease-in-out;

    @media (max-width: 420px) {
      padding: 100px 60px 0 20px;
    }
  }

  &__list_hide {
    left: -1000px;
  }
}
