.menu {
  font-family: "Press Start 2P", cursive;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  margin-bottom: 15px;
  position: fixed;
  z-index: 999;

  &__button {
    background: transparent;
    border: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    margin-bottom: 60px;
    position: fixed;
    z-index: 999;
    left: 20px;
    width: 80px;

    @media (max-width: 640px) {
      left: 5px;
      transform: scale(0.7);
    }

    @media (max-width: 430px) {
      left: 0;
      transform: scale(0.5);
    }

    &-line {
      transition: 0.2s ease;
      background-color: var(--burger-menu-lines-color);
      margin: 4px 0;
      width: 40px;
      height: 5px;
      border: 1px solid var(--burger-menu-lines-border-color);

      &_open {
        &:nth-child(1) {
          transform: rotate(45deg) translate(40%, 0%);
          transition: ease-out 0.5s;
        }

        &:nth-child(2) {
          transform: translate(-300%);
          transition: ease-out 0.5s;
        }

        &:nth-child(3) {
          transform: rotate(-45deg) translate(50%, -50%);
          transition: ease-out 0.5s;
        }
      }
    }
  }

  &__list {
    position: fixed;
    left: 0;
    top: 0;
    padding: 10px 30px 30px 85px;
    z-index: 998;
    border-bottom-right-radius: 10px;
    background-color: var(--section-background-color);
    box-shadow: 0 0 30px var(--section-light-shadow);
    overflow-x: hidden;
    overflow-y: overlay;
    transition: 0.5s ease-in-out;
    visibility: visible;
    @media (max-height: 620px) {
      height: 80vh;
    }

    @media (max-width: 420px) {
      padding: 10px 15px 0 20px;
      width: 85%;
    }
  }

  &__list_hide {
    left: -1000px;
    visibility: hidden;
  }

  &__home {
    position: static;
    z-index: 1;
  }
}
