.breadcrumbs {
  &__item {
    display: inline-block;

    &:not(:last-child):after {
      content: "/";
      padding: 0 5px;
    }

    &_topic-name:before {
      content: "/";
      padding: 0 5px;
    }
  }

  &_margins {
    &_normal {
      margin: 10px 15px;
    }

    &_wide {
      margin: 10px 60px;

      @media (max-width: 420px) {
        margin: 10px 0;
      }
    }
  }
}
