@import url("../../variables.css");

.logo {
  font-size: 5.5rem;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  margin: 60px 0;
  color: $accent_color;
  -webkit-text-fill-color: transparent;
  background: url("/assets/img/bricks.png");
  font-weight: bold;
  background-clip: text;

  @media (max-width: 420px) {
    background-size: 3%;
    font-size: 3.2rem;
  }

  @media (max-width: 375px) {
    font-size: 2.5rem;
    width: 106%;
    margin-left: -4px;
  }

  &__link {
    text-decoration: none;
    color: $font_color_bright;
  }
}
