.logo {
  font-size: 5.5rem;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  margin: 75px 0 var(--vertical-margin);
  color: var(--accent-color);
  -webkit-text-fill-color: transparent;
  background: url("/assets/img/bricks.png");
  font-weight: bold;
  background-clip: text;
  padding: 13px 0 5px;

  @media (max-width: 650px) {
    background-size: 3%;
    font-size: 3.2rem;
  }

  @media (max-width: 375px) {
    font-size: 2.5rem;
    width: 106%;
    margin-left: -4px;
  }

  &__link {
    text-decoration: none;
    color: var(--font-color-primary);
  }

  &__wrapper {
    background-color: var(--logo-background-color);
  }
}
