@import url("../../variables.css");

.menu {
  font-family: "Press Start 2P", cursive;
  padding-top: 10px;
  margin-bottom: 15px;
  overflow-y: hidden;

  &__icon {
    cursor: pointer;
    margin-bottom: 60px;
    position: fixed;
    z-index: 999;
    left: 20px;
    transition: 0.2s ease;

    &-line {
      transition: 0.2s ease;
      background-color: $font_color_white;
      margin: 10px 0;
      width: 50px;
      height: 5px;
    }
  }

  &__list {
    position: fixed;
    left: 0;
    top: 0;
    padding: 130px 30px 30px 85px;
    z-index: 998;
    border-bottom-right-radius: 10px;
    background-color: $section_background_color;
    box-shadow: 0 0 30px $section_light_shadow;
    overflow-x: hidden;
    overflow-y: overlay;
    height: 80vh;
    transition: 0.5s ease-in-out;

    @media (max-width: 420px) {
      padding: 130px 60px 0 20px;
    }
  }

  &__list-hide {
    left: -1000px;
  }
}

.menu-nav {
  margin: 0 auto;

  .navigation-list {
    padding: 0;
    margin: 0 0 60px;

    &__row:nth-child(1) {
      margin: 0 0 45px;
    }
  }
}
