@import "../../variables.css";

.navigation-list {
  &__row {
    font-size: 1.6rem;
    position: relative;
    padding-left: 56px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    @media (max-width: 430px) {
      padding-left: 0;
    }
  }
}

.menu {
  font-family: "Press Start 2P", cursive;
  padding-top: 10px;
  margin-bottom: 15px;

  &__tank-wrapper {
    transition: 0.2s ease;
    opacity: 0;
  }

  &__link {
    text-decoration: none;
    opacity: 1;

    &:hover {
      color: $accent_color;
    }
  }

  &__link:hover + .menu__tank-wrapper {
    position: absolute;
    opacity: 1;
  }

  &__tank-wrapper {
    position: absolute;
    left: 5px;

    @media (max-width: 430px) {
      right: -50px;
      left: auto;
    }
  }

  &__tank-img {
    width: 40px;
    left: auto;
    transform: none;

    @media (max-width: 430px) {
      transform: rotate(180deg);
    }
  }

  &__icon {
    cursor: pointer;
    margin-bottom: 60px;
    position: fixed;
    z-index: 999;
    left: 20px;
    transition: 0.2s ease;

    &:hover {
      .menu__icon-line {
        background-color: $accent_color;
      }
    }

    &-line {
      transition: 0.2s ease;
      background-color: $font_color_white;
      margin: 10px 0;
      width: 50px;
      height: 5px;
    }
  }

  &__list {
    position: fixed;
    left: 0;
    top: 0;
    padding: 80px 30px 0 10px;
    z-index: 998;
    border-bottom-right-radius: 10px;
    background-color: $section_background_color;
    box-shadow: 1px 1px 4px 1px $section_light_shadow;
    overflow-x: hidden;
    overflow-y: overlay;
    height: 70vh;
    transition: 0.5s ease-in-out;

    @media (max-width: 420px) {
      padding: 130px 60px 0 20px;
    }
  }

  &__list-hide {
    left: -1000px;
  }
}
