@import "../../variables.css";

.menu {
  font-family: "Press Start 2P", cursive;
  padding-top: 10px;
  margin-bottom: 15px;

  &__icon {
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    margin-bottom: 60px;
    position: fixed;
    z-index: 999;
    left: 20px;
    transition: 0.2s ease;

    &:hover {
      background-color: $accent_color;
    }
    &:active {
      background-color: $background_color;
      border: 1px $accent_color solid;
    }

    &-line {
      transition: 0.2s ease;
      background-color: $font_color_white;
      margin: 10px 0;
      width: 50px;
      height: 5px;
    }
  }

  &__list {
    position: fixed;
    left: 0;
    top: 0;
    padding: 80px 30px 0 10px;
    z-index: 998;
    border-bottom-right-radius: 10px;
    background-color: $section_background_color;
    box-shadow: 1px 1px 4px 1px $section_light_shadow;
    overflow-x: hidden;
    overflow-y: overlay;
    height: 70vh;
    transition: 0.5s ease-in-out;

    @media (max-width: 420px) {
      padding: 130px 60px 0 20px;
    }
  }

  &__list-hide {
    left: -1000px;
  }
}
