.game__root {
  display: flex;
  align-items: center;
  justify-content: center;
  @media (min-width: 420px) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  @media (max-width: 420px) {
    margin-top: 40px;
  }
}
