.game {
  &__fullscreen-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }

  &__root {
    display: flex;
    align-items: center;
    justify-content: center;
    @media (any-pointer: coarse) and (orientation: portrait) {
      margin-top: 70px;
    }

    @media (any-pointer: coarse) and (orientation: landscape) {
      left: 55%;
      right: 45%;
      position: absolute;
      top: 0;
      bottom: 0;

      @media (min-width: 1000px) {
        left: 0;
        right: 0;
      }
    }
  }
}
