@import url("../../variables.css");

.web-error {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__paragraph {
    text-align: center;
  }

  &__header {
    font-size: 50px;
    margin: 0;
    font-family: "Press Start 2P", cursive;
    text-shadow: 2px 1px $dendy_button_primary;
  }

  &__msg {
    font-size: 20px;
  }

  &__link {
    margin: 70px auto;
    width: 200px;
    color: $font_color_bright;
  }
}
