@import url("../../variables.css");

.menu-link {
  &__tank-wrapper {
    display: flex;
    align-items: center;
    transition: 0.2s ease;
    opacity: 0;
    position: absolute;
    left: 5px;

    @media (max-width: 430px) {
      right: -50px;
      left: auto;
    }
  }

  &__item {
    text-decoration: none;

    &:hover {
      color: $accent_color;
    }

    &:hover + .menu-link__tank-wrapper {
      opacity: 1;
    }
  }

  &__tank-img {
    position: absolute;
    width: 40px;
    left: -65px;
    transform: none;

    @media (max-width: 430px) {
      margin-left: 20px;
      transform: rotate(180deg);
    }
  }
}

.navigation-list {
  &__row {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 38px 0;
    font-size: 1.6rem;
    position: relative;

    @media (max-width: 430px) {
      font-size: 1.2rem;
      max-width: 80%;
      line-height: 1.5rem;
    }
  }

  &__row:nth-child(1) {
    margin: 0;
  }
}
