@import url("../../variables.css");

.menu {
  &__tank-wrapper {
    transition: 0.2s ease;
    opacity: 0;
    position: absolute;
    left: 5px;

    @media (max-width: 430px) {
      right: -50px;
      left: auto;
    }
  }

  &__link {
    text-decoration: none;

    &:hover {
      color: $accent_color;
    }

    &:hover + .menu__tank-wrapper {
      position: absolute;
      opacity: 1;
    }
  }

  &__tank-img {
    width: 40px;
    left: auto;
    transform: none;

    @media (max-width: 430px) {
      transform: rotate(180deg);
    }
  }
}

.navigation-list {
  &__row {
    align-items: center;
    padding-left: 56px;
    list-style-type: none;
    margin: 45px 0;
    font-size: 1.6rem;
    display: flex;
    position: relative;

    @media (max-width: 430px) {
      font-size: 1.2rem;
    }
  }

  &__row:nth-child(1) {
    margin: 0 0 45px;
  }
}
