@import "../../variables.css";

.menu {
  &__tank-wrapper {
    transition: 0.2s ease;
    opacity: 0;
  }

  &__link {
    text-decoration: none;
    opacity: 1;

    &:hover {
      color: $accent_color;
    }
  }

  &__link:hover + .menu__tank-wrapper {
    position: absolute;
    opacity: 1;
  }

  &__tank-wrapper {
    position: absolute;
    left: 5px;

    @media (max-width: 430px) {
      right: -50px;
      left: auto;
    }
  }
  &__tank-img {
    width: 40px;
    left: auto;
    transform: none;

    @media (max-width: 430px) {
      transform: rotate(180deg);
    }
  }
}

.navigation-list {
  &__row {
    font-size: 1.6rem;
    position: relative;
    padding-left: 56px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    @media (max-width: 430px) {
      padding-left: 0;
    }
  }
}
