.about {
  background-color: var(--section-background-color);
  border: 1px solid #737477;
  border-radius: 10px;
  margin: 0 auto 60px;
  width: 95%;
  max-width: 950px;
  overflow: hidden;

  @media (max-width: 420px) {
    width: 100%;
    margin: 0 0 var(--vertical-margin);
  }

  &__title {
    text-align: center;
    margin-top: 0;
  }
}
