.form {
  background-color: var(--section-background-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 400px;
  margin-bottom: var(--vertical-margin);

  @media (max-width: 420px) {
    max-width: 90%;
    min-width: 350px;
    width: auto;
  }

  &__header {
    text-align: center;
  }

  &__input-header {
    width: 80%;
    margin: 25px auto 10px;
  }

  &__buttons-wrapper {
    width: 80%;
    margin: 30px auto;
  }

  &__field {
    width: 80%;
    margin: 0 auto 23px;

    &-label {
      display: block;
      width: 100%;
      margin: 10px 0;
      color: var(--font-color-secondary);
    }

    &-input {
      background-color: var(--section-background-color);
      border: 1px solid var(--border-color);
      color: var(--font-color-primary);
      font-size: 18px;
      padding: 8px 0 8px 10px;
      width: 100%;

      &:hover {
        transition: 0.2s;
        border-color: var(--accent-color);
      }

      &:focus {
        transition: 0.2s;
        box-shadow: 0 0 20px var(--accent-color);
      }
    }

    &_input-padding_lg {
      .form-field__input {
        padding: 30px 5px;
      }
    }

    &_active .validation-errors {
      color: var(--font-color-secondary);
    }
  }

  &__round-wrapper {
    .input {
      border: 0;
      border-radius: 10px;
      text-align: center;
    }

    &-row {
      width: 100%;
    }
  }

  &__oauth {
    text-align: center;
  }
}
