.button {
  width: 100%;
  display: flex;
  border-radius: 10px;
  font-size: 14px;
  margin: 24px auto;
  min-height: 38px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: "Press Start 2P", cursive;
  line-height: 20px;

  &:hover {
    transition: 0.2s;
    box-shadow: 0 0 10px var(--dendy-button-primary);
  }

  &:last-child {
    margin-bottom: 0;
  }

  &_primary {
    background-color: var(--dendy-button-primary);
    color: var(--font-color-third);
    text-shadow: 2px 1px black;
  }

  &_secondary {
    background-color: var(--dendy-button-secondary);
    color: var(--font-color-third);
    text-shadow: 2px 1px black;
  }
}
