@import url("../../variables.css");

.dropdown {
  position: relative;

  &__menu {
    right: 0;
    position: absolute;
    user-select: none;
    list-style-type: none;
    margin: 5px;
    padding: 0;
    box-shadow: 0 0 2px $border_color;
    z-index: 1000;

    & > li {
      margin: 0;
      background-color: $background_color;
      border-bottom: 1px solid $border_dropdown_color;
      &:last-child {
        border-bottom: none;
      }
    }

    & > li:hover {
      background-color: $border_color;
    }

    & > li > button {
      width: 100%;
      height: 100%;
      text-align: left;
      background: none;
      color: inherit;
      border: none;
      padding: 13px;
      margin: 0;
      font: inherit;
      cursor: pointer;
    }
  }
}
