@import url("variables.css");

body {
  background-color: $background_color;
  color: $font_color_bright;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.root,
body,
html {
  margin: 0;
  min-height: 100%;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 24px;
  font-weight: 400;
  font-family: "Press Start 2P", cursive;
  margin: 30px auto;
  text-shadow: 2px 1px $dendy_button_primary;
  line-height: 1.5;
}

.link {
  &__tank-wrapper {
    opacity: 0;
    margin-left: 20px;
  }

  &__tank-img {
    width: 40px;
    position: absolute;
    margin-top: -7px;
    left: -65px;
    transform: rotate(180deg);

    &_undecorated {
      text-decoration: none;
    }

    @media (max-width: 430px) {
      left: auto;
      transform: none;
    }
  }

  /* stylelint-disable-next-line selector-class-pattern */
  &__with-tank:hover + .link__tank-wrapper {
    opacity: 1;
    margin-left: 20px;
  }

  &__with-tank:hover {
    color: #e69c21;
  }
}

.delimiter {
  width: 15%;
  margin: 0 auto 60px;
  height: 5px;
  background-color: $border_color;
  opacity: 0.7;
}
