@import url("variables.css");

body {
  background-color: $background_color;
  color: $font_color_bright;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.root,
body,
html {
  margin: 0;
  min-height: 100%;
  height: 100%;
}

h1 {
  font-size: 24px;
  font-weight: 400;
  font-family: "Press Start 2P", cursive;
  margin: 30px auto;
  text-shadow: 2px 1px $dendy_button_primary;
  line-height: 1.5;
}

a {
  color: $font_color_bright;
}

ul {
  list-style: none;
  padding: 0;
}

.delimiter {
  width: 15%;
  margin: 0 auto 60px;
  height: 5px;
  background-color: $border_color;
  opacity: 0.7;
}

.avatar-img {
  width: 50px;
  height: 50px;
  border-radius: 100px;

  &__big {
    width: 150px;
    height: 150px;
    margin: 50px auto;
  }
}
