/* :root — это псевдо-класс CSS, который соответствует корневому элементу документа — элементу html. */
:root[theme="DARK"] {
  --background-color: #020717;
  --section-background-color: #151928;
  --section-light-shadow: #727476;
  --logo-background: var(--background-color);
  --footer-background: var(--background-color);
  --burger-menu-lines: #fff;
  --burger-menu-lines-border: var(--background-color);
  --accent-color: #ffa825;
  --border-color: #737477;
  --border-dropdown-color: #363943;
  --info-color: #00aaf3;
  --danger-color: #ff4e4ec4;
  --font-color-primary: #e3e4e6;
  --font-color-secondary: #afb2b6;
  --font-color-third: #e3e4e6;
  --font-color-danger: var(--danger-color);
  --font-color-footer: var(--font-color-primary);
  --dendy-button-primary: #d84000;
  --dendy-button-secondary: #745f2c;
  --dendy-button-third: #2d2719;
  --vertical-margin: 30px;
  --theme-toggle-background: var(--background-color);
  --theme-toggle-icon-color: var(--font-color-primary);
  --theme-toggle-selected-icon-color: #313647;
}

/* Cветлая тема */
:root[theme="LIGHT"] {
  --background-color: gainsboro;
  --section-background-color: #f1f1f1;
  --section-light-shadow: #727476;
  --logo-background: #0d0d0dde;
  --footer-background: #000;
  --burger-menu-lines: #000;
  --burger-menu-lines-border: #fff;
  --accent-color: #ffa825;
  --border-color: #737477;
  --border-dropdown-color: #363943;
  --info-color: #00aaf3;
  --danger-color: #d40000;
  --font-color-primary: #000;
  --font-color-secondary: #6a6a6a;
  --font-color-third: #e3e4e6;
  --font-color-danger: var(--danger-color);
  --font-color-footer: #fff;
  --dendy-button-primary: #d84000;
  --dendy-button-secondary: #cb9208;
  --dendy-button-third: #7c6f30cc;
  --vertical-margin: 30px;
  --theme-toggle-background: var(--background-color);
  --theme-toggle-icon-color: var(--font-color-primary);
  --theme-toggle-selected-icon-color: var(--section-background-color);
}
