.mobile-controller {
  &__buttons {
    display: flex;
    justify-content: space-between;
    min-height: 166px;
    align-items: center;
    flex-direction: column;
    @media (any-pointer: coarse) and (orientation: landscape) {
      align-self: flex-start;
      min-height: 230px;

      @media (min-height: 730px) {
        align-self: center;
      }
    }

    &-support {
      display: flex;
      align-self: center;
      @media (any-pointer: coarse) and (orientation: portrait) {
        flex-direction: row;
      }
      @media (any-pointer: coarse) and (orientation: landscape) {
        flex-direction: column;
      }

      &-btn {
        margin-left: var(--support-btn-margin-left);
        width: var(--support-btn-size);
        height: var(--support-btn-size);
        fill: var(--font-color-primary);
        filter: drop-shadow(0 0 5px var(--support-btn-shadow-color));
        cursor: pointer;
        margin-bottom: var(--support-btn-size);

        &-fullscreen {
          @media (any-pointer: coarse) {
            display: none;
          }
        }
      }

      &-btn:nth-child(1) {
        @media (any-pointer: coarse) and (orientation: portrait) {
          margin-left: 0;
        }
      }

      &-btn:hover {
        fill: var(--dendy-button-primary-color);
      }
    }

    &-fire {
      display: flex;
      justify-content: space-between;
      @media (any-pointer: coarse) and (orientation: landscape) {
        margin-left: 35px;
        display: block;
      }
      @media (any-pointer: fine) {
        display: none;
      }

      &-btn {
        background-color: var(--dendy-button-primary-color);
        margin: 7px;
        border-radius: 100px;
        padding: 5px;
        width: 55px;
        height: 55px;
        color: var(--joystick-buttons-font-color);
        font-family: "Press Start 2P", cursive;
        box-shadow: 0 0 10px var(--section-light-shadow);
      }

      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}
