@import url("../../variables.css");

.form-field {
  &__label {
    display: block;
    width: 100%;
    margin: 10px 0;
    color: $font_color_soft;
  }
  &__input {
    background-color: $section_background_color;
    border: 1px solid $border_color;
    color: $font_color_bright;
    font-size: 18px;
    padding: 8px 0 8px 10px;
    width: 100%;

    &:hover {
      transition: 0.2s;
      border-color: $accent_color;
    }

    &:focus {
      transition: 0.2s;
      box-shadow: 0 0 20px $accent_color;
    }
  }
}


#avatar {
  padding: 30px 5px;
}
