.leaderboard__wrapper {
  display: flex;
  flex-direction: column;
}

.leaderboard {
  background-color: var(--section-background-color);
  border-radius: 10px;
  text-align: center;
  margin: 0 auto 60px;
  width: 95%;
  max-width: 950px;
  z-index: 2;

  @media (max-width: 420px) {
    width: 100%;
    margin: 0 0 60px;
  }

  &__header {
    text-align: center;
  }

  &__section {
    max-width: 950px;
    margin: 30px auto 55px;
    width: 95%;
    border-radius: 10px;
    background-color: var(--section-background-color);
    box-sizing: border-box;
    min-width: 350px;

    &_show {
      opacity: 1;
      max-height: 1000px;
    }

    &_hide {
      opacity: 0;
      max-height: 0;
    }

    &_title {
      text-align: center;
      cursor: pointer;
    }
  }

  &__table-loader {
    margin: 100px auto;
  }
}

.no-margin-top {
  margin-top: 0;
}
