.leaderboard__wrapper {
  display: flex;
  flex-direction: column;
}

.leaderboard {
  background-color: var(--section-background-color);
  border-radius: 10px;
  text-align: center;
  margin: 0 60px 60px;

  &__header {
    text-align: center;
  }
  @media (max-width: 420px) {
    margin: 0 0 60px;
  }
}

.no-margin-top {
  margin-top: 0;
}
