.leaderboard__wrapper {
  display: flex;
  flex-direction: column;
}

.leaderboard {
  background-color: var(--section-background-color);
  border-radius: 10px;
  text-align: center;
  margin: 0 auto 60px;
  width: 95%;
  max-width: 950px;

  @media (max-width: 420px) {
    width: 100%;
    margin: 0 0 60px;
  }

  &__header {
    text-align: center;
  }
}

.no-margin-top {
  margin-top: 0;
}
