.menu {
  display: flex;
  flex-direction: column;
}

.menu-nav {
  font-family: "Press Start 2P", cursive;
  padding-top: 10px;
  margin-bottom: 15px;
}
.promo-img {
  width: 40%;
  align-self: center;
  margin-bottom: 60px;

  @media (max-width: 730px) {
    width: 60%;
  }

  @media (max-width: 430px) {
    width: 90%;
  }
}
