.pointer-controller {
  --controllers-buttons-font-color: #fff;
  --controllers-buttons-extra-background-color: #afb2b6;
  --service-btn-size: 35px;
  --service-btn-margin-left: var(--service-btn-size);

  width: 102%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  z-index: 900;
  margin-top: -10px;

  @media (any-pointer: coarse) and (orientation: landscape) {
    height: 90vh;

    @media (min-width: 650px) {
      width: 100%;
    }

    @media (min-width: 730px) and (max-width: 1000px) {
      width: 90%;
    }
    @media (min-width: 1000px) {
      width: 97%;
    }
  }

  @media (any-pointer: coarse) and (orientation: portrait) {
    width: 97%;
    @media (min-width: 730px) {
      width: 90%;
    }
  }

  @media (any-pointer: fine) {
    display: none;
  }
}

.desktop-controller {
  --service-btn-size: 30px;
  --service-btn-margin-left: 35px;

  position: absolute;
  top: 16px;
  right: 20px;
  z-index: 100;

  @media (any-pointer: coarse) {
    display: none;
  }
}
