.leaderboard {
  &__row {
    &-header {
      height: 70px;
    }

    &_desc {
      height: 40px;

      &:nth-child(odd) {
        background-color: var(--background-color);
      }

      &:nth-child(1) {
        background-color: var(--dendy-button-primary-color);
        font-weight: bold;
        color: var(--font-color-third);
      }

      &:nth-child(2) {
        background-color: var(--dendy-button-secondary-color);
        font-weight: bold;
        color: var(--font-color-third);
      }

      &:nth-child(3) {
        background-color: var(--dendy-button-third-color);
        font-weight: bold;
        color: var(--font-color-third);
      }
    }

    &_asc {
      height: 40px;

      &:nth-child(odd) {
        background-color: var(--background-color);
      }

      &:nth-last-child(1) {
        background-color: var(--dendy-button-primary-color);
        font-weight: 900;
      }

      &:nth-last-child(2) {
        background-color: var(--dendy-button-secondary-color);
      }

      &:nth-last-child(3) {
        background-color: var(--dendy-button-third-color);
      }
    }
  }
}
